.sidebarChannel:hover > h4 {
    color: white;
    background-color: #40464b;
}

.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3135;
    color: gray;
    cursor: pointer;
}

.sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
}

.sidebar__voice,
.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
}

.sidebar__voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__voiceIcon {
    color: #4bb185;
}

.sidebar__voiceInfo > h3 {
    color: #4bb185;
}

.sidebar__voiceInfo > p {
    font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
    padding: 10px;
}

.sidebar__voiceIcons > .MuiSvgIcon-root,
.sidebar__profileIcons > .MuiSvgIcon-root {
    cursor: pointer;
}

.sidebar__voiceIcons > .MuiSvgIcon-root:hover,
.sidebar__profileIcons > .MuiSvgIcon-root:hover {
    color: white;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo > h3 {
    color: white;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
    padding: 10px;
}

@media all and (max-width: 1300px) {
    .sidebar__profileIcons {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 1020px) {
    .sidebar__voiceIcons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}